.prodcutContainer {
   /* font-size: 20px; */
   display: flex;
   /* border : 2px solid black; */
   padding: 5px;
   gap: 10px;
   margin-top: 50px;
}
.filterAndSortContainer {
    /* border: 2px solid red; */
    width: 20%;
    padding: 7px;
}
.filterAndSortContainer h2{
    font-weight: 700;
}
.filterAndSortContainer h4{
    font-weight: 500;
}
.productRenderArea{
    /* border: 2px solid green; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;

}
.paginationButton{
    width: 90%;
    margin: auto;
}
.filterByDesigner{
    text-align: left;
    margin-left: 12px;
    margin-bottom: 7px;
    margin-top: 7px;
}
.filterByColor{
    text-align: left;
    margin-left: 12px;
    margin-bottom: 7px;
    margin-top: 7px;
}